__pycache__
.Trash-0/
.jupyter/
.ipynb_checkpoints/
.local/

# data
/originalWork/
/docker/
/data/**/
/data/*.npy
/data/*.npz
/data/*.wav

# result
/result/ch*/**/
/result/ch*/*.npy
/result/ch*/*.npz
/result/ch*/*.pth
/result/ch*/*.png
/result/noisedData*/
/result/txt/
/result/sourcePosition/

# util
memo*
*.memo